
body {
    background-color: lightcyan;
}

table {
    margin: auto;
    line-height: 1.5em;
    border: 0.25em groove salmon;
}

form {
    margin: auto;
    padding: 2em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

td, th {
    padding: 1em;
}

th {
    font-weight: bold;
}

footer {
    margin: 2em;
}